<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SaveStudent</servlet-name>
        <servlet-class>SIS.SaveStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveSubject</servlet-name>
        <servlet-class>SIS.SaveSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveFaculty</servlet-name>
        <servlet-class>SIS.SaveFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveSF</servlet-name>
        <servlet-class>SIS.SaveSF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>driver</servlet-name>
        <servlet-class>SIS.driver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNotice1</servlet-name>
        <servlet-class>SIS.AddNotice1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveSyllabus</servlet-name>
        <servlet-class>SIS.SaveSyllabus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VeriftUser</servlet-name>
        <servlet-class>SIS.VeriftUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>SIS.VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveStudentReg</servlet-name>
        <servlet-class>SIS.SaveStudentReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMarks</servlet-name>
        <servlet-class>SIS.UpdateMarks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAttendance</servlet-name>
        <servlet-class>SIS.UpdateAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudent</servlet-name>
        <servlet-class>SIS.DeleteStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubject</servlet-name>
        <servlet-class>SIS.DeleteSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFaculty</servlet-name>
        <servlet-class>SIS.DeleteFaculty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadSyllabus</servlet-name>
        <servlet-class>SIS.DownloadSyllabus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveStudent</servlet-name>
        <url-pattern>/SaveStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveSubject</servlet-name>
        <url-pattern>/SaveSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveFaculty</servlet-name>
        <url-pattern>/SaveFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveSF</servlet-name>
        <url-pattern>/SaveSF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>driver</servlet-name>
        <url-pattern>/driver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNotice1</servlet-name>
        <url-pattern>/AddNotice1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveSyllabus</servlet-name>
        <url-pattern>/SaveSyllabus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VeriftUser</servlet-name>
        <url-pattern>/VeriftUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveStudentReg</servlet-name>
        <url-pattern>/SaveStudentReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMarks</servlet-name>
        <url-pattern>/UpdateMarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAttendance</servlet-name>
        <url-pattern>/UpdateAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudent</servlet-name>
        <url-pattern>/DeleteStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubject</servlet-name>
        <url-pattern>/DeleteSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFaculty</servlet-name>
        <url-pattern>/DeleteFaculty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadSyllabus</servlet-name>
        <url-pattern>/DownloadSyllabus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
